!!!
%html
  %head
    %title
      Ghost
    = stylesheet_link_tag    "ghost_train/application", media: "all"
    %meta{:name => 'csrf-param', :content => form_authenticity_token}
    %meta{:name => 'csrf-token', :content => form_authenticity_token}
  %body.manage.body
    = render partial: 'layouts/ghost_train/ghost_header'
    %main#main
      %aside#notifications.notifications
        = render file: 'ghost/core/server/views/partials/notifications'
      = yield
    = javascript_include_tag "ghost_train/application" 
    #modal-container
    .modal-background.fade